.fixed-table-container {
	border: none;
}
.bootstrap-table .table>thead>tr>th {
	border-bottom: 2px solid rgb(243, 243, 243);
}
.fixed-table-container thead th {
    border-left: none;
}
.fixed-table-container tbody td {
    border-left: none;
}

.fixed-table-footer tr {
    background-color: #f5f5f5;
}

.fixed-table-footer {
    border-top: none;
}

.bootstrap-table .table {
    border-bottom: none;
}